:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.CustomCon {
	background-color: rgba(119, 136, 153, 0.5);
	padding-top: 100px;
}
.pt100 {
	padding-top: 70px;
}
.processCon {
	border: 1px rgb(232, 191, 191) solid;
	border-bottom: transparent;
}
@media screen and (width<=568px) {
	.processCon {
		height: 60px;
	}
}
.itemsContainer {
	border: 1px red solid;
	border-top: transparent;
	height: 80%;
}
@media screen and (width<=568px) {
	.itemsContainer {
		height: 74%;
	}
}
.arritem {
	max-width: 40px;
	background-color: white;
	/* border: 5px transparent solid; */
	transition: all 500ms ease;
}
input {
	width: 75px;
	outline: none;
}
